.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin: 2px 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.delete {
  border-radius: 20%;
  padding: 16px;
  border: none;
  color: black;
  background-color: #9d9c95;

  &:hover {
    background-color: #5d5c5a;
  }
}
